<!DOCTYPE html>
<html>
<head>
    <title>左侧菜单</title>
</head>
<body>
    <ul>
        <li><a href="/test.php/Index/openAccount" target="right">Open account</a></li>
        <li><a href="/test.php/Index/closeAccount" target="right">Close account</a></li>
        <li><a href="/test.php/Index/getBalance" target="right">Get current balance</a></li>
        <li><a href="/test.php/Index/withdrawMoney" target="right">Withdraw money</a></li>
        <li><a href="/test.php/Index/depositMoney" target="right">Deposit money</a></li>
        <li><a href="/test.php/Index/transferMoney" target="right">Transfer money</a></li>
    </ul>
</body>
</html>